<%- include('../../../../app/views/shared/header') %>
<%- include('../shared/nav') %>
<% //console.log(locals)
 %>
  <main>
    <article>
        <section>
          <h3>Dashboard</h3>
        </section>
        <section>
          docs
        </section>
    </article>
  </main>
<%- include('../../../../app/views/shared/footer') %>