<h2>Attributes & Publish Options</h2>
<div class="_pea-document">
	<div class="_pea-row _pea-container-forminput">
		<div class="_pea-col-span2">
			<small>ID:</small>
		</div>
		<input type="text" id="docidlabel" disabled="disabled" class="_pea-col-span10" value="<%= genericdoc._id %>" >
	</div>
	<div class="_pea-row _pea-container-forminput">
		<div class="_pea-col-span2">
			<small>Name:</small>
		</div>
		<input type="text" id="docidlabel" class="_pea-col-span10" name="name" value="<%= genericdoc.name %>" >
	</div>
	<div class="_pea-row _pea-container-forminput">
		<input type="text" id="padmin-contenttypes" class="_pea-col-span12" placeholder="Content Types" name="contenttypes"/>
	</div>
	<div class="_pea-row _pea-text-center">
		<input type="submit" name="save_button" value="<% if(genericdoc){%>Update<%}else{%>Save<%}%>" class="_pea-button _pea-color-success"/>
		<% if(genericdoc){%> <a href="/asset/<%= genericdoc.name %>" target="_blank" class="_pea-button _pea-color-default"/>Preview</a> <%}%>
	</div>
</div>