<% include ../../shared/header %>
<% include ../../shared/nav %>
	<script type="text/javascript"></script>
	<% 
		var genericdoc = compilation; 
		var genericdocname = "compilation"; 
		var genericdocdeletefunction = "backToCompilationLanding"; 
		var genericdocnamelink = "compilations"; 
		var genericdocTitle = "Compilation"; 
		var mediaassettitle = "<h2>Content Media</h2>";
	%>
	<% include ../../shared/content_revision_list %>
<% include ../../shared/footer %>
