<% include ../../shared/header %>
<% include ../../shared/nav %>
	<input type="hidden" name="_csrf" value=<%= locals.token %> >
	<div class="_pea-container _pea-theme">
		<div class="_pea-row">
			<div class="_pea-col-span6">
				<h2>Application Settings</h2>
				<form class="_pea-form _pea-ajax-form" method="post" action="/p-admin/settings/update">
					<div class="_pea-document">
						<div class="_pea-row">
							<h3>Overview</h3>
							<p class="extra-padding">Periodic is a pure information and content management system. Periodic is designed for you to implement your own information architecture, unlike some traditional content management solutions, there are no assumptions made about your data model, which allows for information hierarchies and taxonomies to be extremely malleable.</p>
							<p>-app settings to write to conf.json (debug,csrf,name,homepage, adminnotificationemail)</p>
							<p>-app settings to display only (dburl,application:port,environment,version)</p>
						</div>
					</div>
				</form>
					<div class="_pea-document _pea-form">
						<div class="_pea-row">
							<h3>Upgrade Application</h3>
							<p class="extra-padding"><span class="_pea-color-error">WARNING: Make sure you back up before upgrading, once completed your application will automatically restart (if you're running the application with PM2, npm start or npm run nd).</span></p>
							<p class="extra-padding">Create a back up of your <a class="_pea-button">content</a> directory before upgrading. This is a short cut to running npm install from the command line.</p>
							<a class="_pea-button _pea-col-span12">
							$ cd .. </br>
							$ npm install periodicjs@latest --upgrade</a>	

							<p class="_pea-text-center">
									<a data-href="/p-admin/settings/upgrade" class=" _pea-button _pea-color-inverse _pea-dialog-delete" data-successfunction="restartAppResponse" data-donotnotify="true" style="font-size: 110%;">Upgrade Application</a>
							</p>
						</div>
					</div>
					<div class="_pea-document _pea-form">
						<div class="_pea-row">
							<h3>Restart Application</h3>
							<p class="extra-padding"><span class="_pea-color-error">WARNING: Any HTTP POST requests may throw an error, until you refresh the page if you are using CSRF(Cross Site Request Forgery).</span></p>
							<p class="extra-padding">Using this method to restart the application, updates <a class="_pea-button">content/extensions/restart.json</a>. 
							<p class="extra-padding">This only works if you're running the application with PM2 (or npm start or npm run nd).</p> 
							<p class="_pea-text-center">
									<a data-href="/p-admin/settings/restart" class=" _pea-button _pea-color-inverse _pea-dialog-delete" data-successfunction="restartAppResponse" data-donotnotify="true" style="font-size: 110%;">Restart Application</a>
							</p>
						</div>
					</div>
			</div>
			<div class="_pea-col-span5 _pea-pull-right">
				<h2>Theme Settings</h2>
				<div class="_pea-document">
					<div class="_pea-row">
						<h3>Full Documentation</h3>
						<p>Periodic is a extremely flexible and modular by design.</p>
						<p>edit themesettings.settings</p>
						<p>themesettings, display only (author,url,name,periodiccompatibilty)</p>
					</div>
				</div>
					<div class="_pea-document">
						<div class="_pea-row">
							<h3>Full Documentation</h3>
							<p>Periodic is a extremely flexible and modular by design.</p>
							<p>Overriding, extending, customizing existing and new functionality is highly encouraged.</p>
							<p>Please read the <a href="https://github.com/typesettin/periodicjs/wiki" target="_blank">full documentation on github</a> and help build a better platform.</p>
						</div>
					</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="<%= locals.themehelper.extensionPublicResourcePath('periodicjs.ext.admin','js') %>wysihtml5-advanced.js"></script>
	<script type="text/javascript" src="<%= locals.themehelper.extensionPublicResourcePath('periodicjs.ext.admin','js') %>wysihtml5-0.4.0pre.min.js"></script>
<% include ../../shared/footer %>
