<% include ../../shared/header %>
<% include ../../shared/nav %>
	<script type="text/javascript"></script>
	<% 
		var genericdoc = library; 
		var genericdocname = "library"; 
		var genericdocdeletefunction = "backToLibraryLanding"; 
		var genericdocnamelink = "libraries"; 
		var genericdocTitle = "Library"; 
		var mediaassettitle = "<h2>Content Media</h2>";
	%>
	<% include ../../shared/content_revision_list %>
<% include ../../shared/footer %>
