<input type="hidden" name="_csrf" value=<%= locals.token %> >
<div class="_pea-container _pea-theme">
	<div class="_pea-row">
		<div class="_pea-col-span8">
			<% 
				var genericdoc = tag; 
				var genericdocname = "tag"; 
				var genericdocnamelink = "tags"; 
				var genericdocdeletefunction = "backToTagLanding"; 
				var genericdocTitle = "Tag"; 
			%>
			
			<% include ../../shared/compose_content %>
			<% include ../../shared/content_attributes %>
		</div>
		<div class="_pea-col-span3 _pea-pull-right">
			<% include ../../shared/attribute_taxonmy %>
			<% if(genericdoc){%>
				<% include ../../shared/attribute_children %>
				<% include ../../shared/attribute_delete %>
			<%}%>
		</div>
	</div>
</div>