<input type="hidden" name="_csrf" value=<%= locals.token %> >
<div class="_pea-container _pea-theme">
	<div class="_pea-row">
		<div class="_pea-col-span8">
			<% 
				var genericdoc = category; 
				var genericdocname = "category"; 
				var genericdocnamelink = "categories"; 
				var genericdocdeletefunction = "backToCategoryLanding"; 
				var genericdocTitle = "Category"; 
			%>
			
			<% include ../../shared/compose_content %>
			<% include ../../shared/content_attributes %>
		</div>
		<div class="_pea-col-span3 _pea-pull-right">
			<% include ../../shared/attribute_taxonmy %>
			<% if(genericdoc){%>
				<% include ../../shared/attribute_children %>
				<% include ../../shared/attribute_delete %>
			<%}%>
		</div>
	</div>
</div>
<script type="text/javascript" src="<%= locals.themehelper.extensionPublicResourcePath('periodicjs.ext.admin','js') %>wysihtml5-advanced.js"></script>
<script type="text/javascript" src="<%= locals.themehelper.extensionPublicResourcePath('periodicjs.ext.admin','js') %>wysihtml5-0.4.0pre.min.js"></script>
