<% include ../../shared/header %>
<% include ../../shared/nav %>
	<script type="text/javascript"></script>
	<% 
		var genericdoc = collection; 
		var genericdocname = "collection"; 
		var genericdocdeletefunction = "backToCollectionLanding"; 
		var genericdocnamelink = "collections"; 
		var genericdocTitle = "Collection"; 
		var mediaassettitle = "<h2>Content Media</h2>";
	%>
	<% include ../../shared/content_revision_list %>
<% include ../../shared/footer %>
